<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Servicio del clima</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
  </head>
  
  <body>

    <div class="container mt-5">
        <h1>Servicio del clima</h1>

        <form action="/busqueda/" method="get">{% csrf_token %}
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="semana">Consultar próximos 7 días
              </label>
            </div>

           <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="horas">Consultar siguientes 24 hrs
              </label>
           </div>

           <input type="text" id="formulario" class="form-control my-2" name="ciudad">
           <button type="submit" class="btn btn-primary mb-2" id="boton" onclick="conexion()">Buscar</button>

        </form>


      <ul id="resultado">
      </ul>

    </div>



<script type="text/javascript">

    function conec(){
      /*var json
      var xhr = new XMLHttpRequest();
      xhr.open('GET','fo.php')
      xhr.onload = function (){
          if (xhr.status == 200){
             json = JSON.parse(xhr.responseText)
             console.log(json)
          }else {
              console.log("Error "+xhr.status)
          }
      }
      xhr.send()
      return json */

  }



  $(function() {
      var ciudades = <?php echo $res; ?>
      var src = []
      for(var i=0; i < ciudades.length;i++){
        src.push(ciudades[i])
      }
      $("#formulario").autocomplete({
         source: src,
         minLength: 1
      });
  });



</script>

  </body>

    <?php
    $bd = new SQLite3('db.sqlite3');

    $res = $bd -> query("SELECT ciudad from modelo_ciudades");
    $res = $res -> fetchArray();
    $res = json_encode($res);
    echo $res;
    ?>
</html>