{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informe</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="d-flex justify-content-center"><h2>Reporte para {{ ciudad }}</h2></div>
</header>
<div class="row justify-content-around">
    <div class="w-75">
        <table class="table table-bordered table-striped">
        <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Temperatura mínima</th>
            <th>Temperatura máxima</th>
            <th>Humedad</th>
            <th>Viento</th>
        </tr>
        {% for day in miLista %}
        <tr>
            <th>{{ day.dia }}</th>
            <th>{{ day.text }}
                    {% if "Cubierto" in day.text and "lluvias" in day.text %}
                    <img src="https://v5i.tutiempo.net/wi/01/50/19.png">
                    {% elif "Cubierto" in day.text %}
                    <img src="https://v5i.tutiempo.net/wi/01/50/7.png">
                    {% elif "Despejado" in day.text %}
                    <img src="https://v5i.tutiempo.net/wi/01/50/1.png">
                    {% elif "Muy nuboso" in day.text %}
                    <img src="https://v5i.tutiempo.net/wi/01/50/7.png">
                    {% elif "Parcialmente nuboso" in day.text %}
                    <img src="https://v5i.tutiempo.net/wi/01/50/4.png">
                    {% endif %}
            </th>
            <th>{{ day.tempMin }} °C</th>
            <th>{{ day.tempMax }} °C</th>
            <th>{{ day.humedad }} %</th>
            <th>{{ day.viento }} {{ day.vientoDireccion }} kt
                {% if "Nordeste" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/SW.png">
                {% elif "Sureste" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/NW.png">
                {% elif "Noroeste" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/SE.png">
                {% elif "Oeste" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/E.png">
                {% elif "Este" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/E.png">
                {% elif "Suroeste" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/ENE.png">
                {% elif "Norte" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/S.png">
                {% elif "Sur" in day.vientoDireccion %}
                <img src="https://v5i.tutiempo.net/wd/N.png">
                {% endif %}
            </th>
        </tr>
        {% endfor %}

        </table>
    </div>
</div>
</body>
</html>